body {
	margin: 0;
	padding: 0;
}

#form {
	background-color: #eee;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#header {
	color: #fff;
	background-color: #8cf;
	text-align: center;
}

#rooms {
	width: 200px;
	float: left;  
	color: #fff;
	background-color: #8cf;
	min-height: 400px;
}

#users {
	width: 200px;
	float: right;  
	color: #fff;
	background-color: #8cf;
	min-height: 400px;
}

#content {
	position: relative;  
	background-color: #fff;
	min-height: 400px;
	margin: 0 200px;
	border: 1px Solid Red;
}

#logs {
	clear: both;
	width: 100%;
	background-color: #ccc;
	min-height: 100px;
}

#line {
	border-top: 1px Solid #ccc;
	border-bottom: 1px Solid #fff;
	/*height: 1px;*/
}
