html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#form {
	background-color: #333;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

#header {
	color: #fff;
	background-color: #8cf;
	text-align: center;
	height: 60px;
}

#header h1 {
	padding-top: 10px;
	margin: 0;
}

#rooms {
	width: 200px;
	float: left;  
	color: #fff;
	background-color: #8cf;
	min-height: 900px;
}

#users {
	width: 200px;
	float: right;  
	color: #fff;
	background-color: #8cf;
	min-height: 900px;
}

#content {
	position: relative;  
	background-color: #eee;
	margin: 0 200px;
	height: 900px;
}

#footer {
	clear: both;
	background-color: #333;
	height: 100px;
	overflow: hidden;
}

#logs {
	position: absolute; 
	bottom: 0; 
	height: 200px; 
	width: 100%; 
}

div.line {
	border-top: 1px Solid #ccc;
	border-bottom: 1px Solid #fff;
}
